
<div class="container">
  <h1>Welcome back, <%= @user.username %></center></h1>
  <h2> Your storage space bookings: </h2>

  <div class="row">

    <% @user.bookings.each do |b| %>

    <div class="col-xs-12 col-sm-4">
    <div class="card">
    <h4><%= b.storage_space.location %></h4>
      <p>Space requested: <b><%= b.space_required %></b>  meters squared.</p>
      <p>From <%= b.start_date? ? b.start_date : "unspecified" %> until <%=  b.end_date? ? b.end_date : "unspecified" %></p>
      <p>Price: £<%= (b.space_required * (b.end_date - b.start_date).to_i)*20 %></p>
    </div>
    </div>
    <% end %>

  </div>

  <div class="row" style="margin-top: 30px;">
  <h2> Your spaces: </h2>

    <% @user.storage_spaces.each do |s| %>

    <div class="col-xs-12 col-sm-4">
    <div class="card">
    <h4><%= s.location %></h4>
      <p><b><%= s.space %></b> meters squared available.</p>
      <p><b><%= s.bookings.size %> </b> bookings have been made for this space.</p>
    </div>
    </div>
    <% end %>

  </div>

</div>
